### Basic List examples

In [1]:
cars = ["Jeep", "F350", "Ram"]
print(cars)

['Jeep', 'F350', 'Ram']

In [2]:
cars = ["Jeep", "F350", "Ram"]
print(cars[1])

F350

In [3]:
cars = ["Jeep", "F350", "Ram"]
print(cars[0:2])

['Jeep', 'F350']

In [4]:
cars = ["Jeep", "F350", "Ram"]
cars[1] = "Motorcyle"
print(cars[0:2])

['Jeep', 'Motorcyle']

### List Operations examples

In [6]:
cars = ["Jeep", "F350", "Ram"]
lookingFor = "Blinky"
if lookingFor in cars:
    print(f"{lookingFor} is in the list {cars}") #f represents a formatted string
else:
    print(f"I did not find {lookingFor} in the list of {cars}")

I did not find Blinky in the list of ['Jeep', 'F350', 'Ram']

#### S * n / n * s Example

In [10]:
s = [1,2,3,4,5]
n = 3

results1 = s*n
results2 = n*s

print(f"s * n = {results1}")
print(f"n * s = {results2}")

s * n = [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
n * s = [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

#### len(s) Example

In [12]:
s = [1,2,3,4,5]
cars = ["Jeep", "F350", "Ram", [1,2,3,4,5]]

print(len(s))

5

#### min(s) Example

In [14]:
s = [1,2,3,4,5]
cars = ["Jeep", "F350", "Ram", [1,2,3,4,5]]

print(min(s))

1

In [17]:
s = [1,2,3,4,5.5]
cars = ["Jeep", "F350", "Ram", [1,2,3,4,5]]

print(sum(s))

15.5

## List Method Examples

#### append Example

In [18]:
cars = ["Jeep", "F350", "Ram"]
cars.append("Motorcycle")
print(cars)

['Jeep', 'F350', 'Ram', 'Motorcycle']

#### Count(x) Example

In [19]:
myList = [1,2,3,4,2,3,2,5,6,7]
x = 2

count = myList.count(x)
print(f"The number {x} appears {count} times in the list.")

The number 2 appears 3 times in the list.

#### extend(anotherList)

In [20]:
list1 = [1,2,3]
list2 = [4,5,6]

list1.extend(list2)

print(list1)

[1, 2, 3, 4, 5, 6]

#### insert(index, x) Example

In [21]:
cars = ["Jeep", "F350", "Ram"]
cars.insert(1, "Motorcycle")
print(cars)

['Jeep', 'Motorcycle', 'F350', 'Ram']

#### sort() Example

In [22]:
cars = ["Jeep", "F350", "Ram"]
cars.insert(1, "Motorcycle")
cars.sort()
print(cars)

['F350', 'Jeep', 'Motorcycle', 'Ram']

#### reverse() Example

In [23]:
cars = ["Jeep", "F350", "Ram"]
cars.insert(1, "Motorcycle")
cars.reverse()
print(cars)

['Ram', 'F350', 'Motorcycle', 'Jeep']

### List Comprehension Examples

In [25]:
cars = ["Jeep", "F350", "Ram"]
for vehicle in cars:
    print(vehicle)

Jeep
F350
Ram

In [26]:
cars = ["Jeep", "F350", "Ram"]

[print(vehicles) for vehicles in cars]

Jeep
F350
Ram

[None, None, None]

#### Create a list with a loopo

In [28]:
cars = ["Jeep", "F350", "Ram", "Motorcycle", "Mini Cooper"]

carswithM = []

for x in cars:
    if "M" in x:
        carswithM.append(x)
print(carswithM)

['Motorcycle', 'Mini Cooper']

#### Creating list with comprehension

In [29]:
cars = ["Jeep", "F350", "Ram", "Motorcycle", "Mini Cooper"]
carswithM = [x for x in cars if "M" in x]
print(carswithM)

['Motorcycle', 'Mini Cooper']

### 2D Lists Examples

In [30]:
motorcycles = ["Buell", "GS650", "K1200GT"]
trucks = ["S10", "Ram", "F350"]
jeeps = ["Rubicon", "CJ5"]

vehicles = [motorcycles, trucks, jeeps]

print(vehicles)

[['Buell', 'GS650', 'K1200GT'], ['S10', 'Ram', 'F350'], ['Rubicon', 'CJ5']]

#### Accessing specific elements in the 2D list

In [32]:
motorcycles = ["Buell", "GS650", "K1200GT"]
trucks = ["S10", "Ram", "F350"]
jeeps = ["Rubicon", "CJ5"]

vehicles = [motorcycles, trucks, jeeps]

print(vehicles[1][0])

S10

#### 3D List Example - because he's nuts

In [33]:
my3d = [[[1,2,3], [4,5,6], [7,8,9], [10,11,12]]]

print(len(my3d))

print(my3d[0][1][2])

1
6

### Tuple Examples

In [34]:
myTuple = (1, "Bob", 3.14)
print(myTuple[0])

1

#### Converting Tuple to List for changes

In [35]:
myTuple = (1, "Bob", 3.14)

myList = list(myTuple)
myList[1] = 2
myTuple = tuple(myList)

print(myTuple[1])

2

 ### Set Examples

In [37]:
mySet = {1,2,3,4}
print(mySet)

{1, 2, 3, 4}

In [38]:
mySet = {1,2,3,4}
mySet.add(5)
print(mySet)

{1, 2, 3, 4, 5}

In [39]:
mySet = {1,2,3,4}
mySet.remove(3)
print(mySet)

{1, 2, 4}

#### Joining Set Examples

In [40]:
set1 = {1,2,3}
set2 = {4,5,6}
union = set1.union(set2)
print(union)

{1, 2, 3, 4, 5, 6}

In [41]:
set1 = {1,2,3}
set2 = {1,2,4,5,6}
union = set1.union(set2)
print(union)

{1, 2, 3, 4, 5, 6}

#### Set Intersection example (keeps values that appear in both sets)

In [42]:
set1 = {1,2,3}
set2 = {1,2,4,5,6}
union = set1.intersection(set2)
print(union)

{1, 2}

#### Difference (keeps values from first set NOT IN second set)

In [43]:
set1 = {1,2,3}
set2 = {1,2,4,5,6}
union = set1.difference(set2)
print(union)

{3}

#### Symmetric Difference (keeps values from either but not both sets)

In [44]:
set1 = {1,2,3}
set2 = {1,2,4,5,6}
union = set1.symmetric_difference(set2)
print(union)

{3, 4, 5, 6}

#### Traversing elements in a set

In [45]:
set1 = {1,2,3}
set2 = {1,2,4,5,6}

for index in set2:
    print(index)

1
2
4
5
6

#### Searching for items in a set

In [49]:
set1 = {1,2,3}
set2 = {1,2,4,5,6}

if 4 in set2:
    print("I found it")
else:
    print("Did not find it")

I found it

### Dictionary Examples

In [50]:
jeep = {
    "brand": "Jeep",
    "model": "Rubicon",
    "year": 2014
}

print(jeep)

{'brand': 'Jeep', 'model': 'Rubicon', 'year': 2014}

#### Dictionaries require unique values

In [67]:
jeep = {
    "brand": "Jeep",
    "model": "Rubicon",
    "year": 2014,
    "year": 1976
}

print(jeep)

{'brand': 'Jeep', 'model': 'Rubicon', 'year': 1976}

#### Count occurences in a Dictionary List

In [54]:
cars = ["Jeep", "Jeep", "F350", "Ram", "Ram","Ram", "Motorcycle", "Mini Cooper"]

carCount = {}

for count in cars:
    if count in carCount:
        carCount[count] += 1
    else:
        carCount[count] = 1
print(carCount)

{'Jeep': 2, 'F350': 1, 'Ram': 3, 'Motorcycle': 1, 'Mini Cooper': 1}

#### Dictionaries are commonly used for config settings

In [57]:
config = {
    'screen_resolution': (1920,1080),
    'color_scheme': 'dark',
    'file_paths': {
        'data_file': '/path/to/data.txt',
        'log_file': '/path/to/log.txt'
    }
}

# Accessing values in the Dictionary
print("Screen resolution: ", config['screen_resolution'])

# Update configuration values
config['color_scheme'] = 'light'

print("Color scheme is:", config['color_scheme'])

# Add values to the dictionary
config['font_size'] = 12

print("Font size:", config['font_size'])

Screen resolution:  (1920, 1080)
Color scheme is: light
Font size: 12

#### Looping through Dictionary elements

In [60]:
config = {
    'screen_resolution': (1920,1080),
    'color_scheme': 'dark',
    'file_paths': {
        'data_file': '/path/to/data.txt',
        'log_file': '/path/to/log.txt'
    }
}

# Looping through the keys
for key in config:
    print(key)
    
    
# Looping through the values
for value in config.values():
    print(value)
    
# Looping through both keys:values
for key, value in config.items():
    print(f"{key}: {value}")

screen_resolution
color_scheme
file_paths
(1920, 1080)
dark
{'data_file': '/path/to/data.txt', 'log_file': '/path/to/log.txt'}
screen_resolution: (1920, 1080)
color_scheme: dark
file_paths: {'data_file': '/path/to/data.txt', 'log_file': '/path/to/log.txt'}

#### Searching in a Dictionary

In [63]:
config = {
    'screen_resolution': (1920,1080),
    'color_scheme': 'dark',
    'file_paths': {
        'data_file': '/path/to/data.txt',
        'log_file': '/path/to/log.txt'
    }
}

if 'dark' in config.values():
    print("Found it")
else:
    print("Not found")
    
# Searching through keys
if 'color_scheme' in config:
    print("Found key")
else:
    print("Key not found")

Found it
Found key

#### Searching using IN/NOT IN

In [65]:
config = {
    'screen_resolution': (1920,1080),
    'color_scheme': 'dark',
    'file_paths': {
        'data_file': '/path/to/data.txt',
        'log_file': '/path/to/log.txt'
    }
}

print('color_scheme' not in config)

False

#### Zip function example

In [68]:
keys = ['name', 'age', 'city']
values = ['John Doe', 30, 'New York']
person = dict(zip(keys, values)) # dict is a function for Python

print(person)

{'name': 'John Doe', 'age': 30, 'city': 'New York'}