### While loop example

In [13]:
x = 1
while x < 11:
    print(x)
    x += 1

1
2
3
4
5
6
7
8
9
10

In [12]:
x = 11
while x > 1:
    print(x)
    x -= 1

11
10
9
8
7
6
5
4
3
2

### Break statement example

In [14]:
x = 1
while x < 10:
    print(x)
    if x == 5:
        break
    x += 1

1
2
3
4
5

### Continue example

In [15]:
x =1
while x < 10:
    x += 1
    if x ==5:
        continue
    print(x)

2
3
4
6
7
8
9
10

### For Loop examples

In [16]:
for index in range(10):
    print(index)

0
1
2
3
4
5
6
7
8
9

In [18]:
for i in range(11):
   print(i)

0
1
2
3
4
5
6
7
8
9
10

In [19]:
for i in range(50, 100):
    print(i)

50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [21]:
for i in range (0, 100, 5):
    print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [22]:
for countdown in range (10, 0, -1):
    print(countdown)
print("Kaboom!")

10
9
8
7
6
5
4
3
2
1
Kaboom!

In [25]:
for countup in range (11):
    print (countup)
else:
    print ("done!")

0
1
2
3
4
5
6
7
8
9
10
done!

### Nested Loop example

In [27]:
for outerLoop in range (1, 11):
    for innerLoop in range (1, 11):
        product = outerLoop * innerLoop
        print(str(outerLoop) + ' X ' + str(innerLoop) + ' = ' + str(product))
str(product)
print('\n')

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [29]:
rows = int(input("How many rows?: "))
columns = int(input("How many columns?: "))
symbol = input("What symbol would you like to use?: ")
for outer in range(rows):
    for inner in range(columns):
        print(symbol, end="") # The end keyword is used to prevent symbols appearing as a new line
    print()

How many rows?:  10
How many columns?:  10
What symbol would you like to use?:  #

##########
##########
##########
##########
##########
##########
##########
##########
##########
##########

### List examples

In [34]:
vehicles = ["F350", "Jeep", "Ram", "Motorcycle"]
print(vehicles[0])

F350

In [35]:
vehicles = ["F350", "Jeep", "Ram", "Motorcycle"]

vehicles[0] = "Airplane" # How to update a specific index

print(vehicles[0])

Airplane

In [37]:
vehicles = ["F350", "Jeep", "Ram", "Motorcycle"]

vehicles[0] = "Airplane" # How to update a specific index

for transportation in vehicles:
    print(transportation)

Airplane
Jeep
Ram
Motorcycle