In [8]:
import pandas as pd

# Series Data

In [9]:
myData = ['Truck', 'Motorcycle', 'SUV']
mySeries = pd.Series(myData)

print(mySeries)

0         Truck
1    Motorcycle
2           SUV
dtype: object

In [10]:
myData2 = [1,23,15]
mySeries2 = pd.Series(myData2)

print(mySeries2)

0     1
1    23
2    15
dtype: int64

# DataFrame Data

In [11]:
newdataframe = [('Truck', 1), ('Motorcycle', 23), ('SUV', 15)]

mydf = pd.DataFrame(newdataframe)

mydf

            0   1
0       Truck   1
1  Motorcycle  23
2         SUV  15

In [13]:
mydf = pd.DataFrame(newdataframe, columns=['Type', 'Count'])
mydf

         Type  Count
0       Truck      1
1  Motorcycle     23
2         SUV     15

In [14]:
mydf.dtypes

Type     object
Count     int64
dtype: object

In [15]:
mydf['Type']

0         Truck
1    Motorcycle
2           SUV
Name: Type, dtype: object